.loginFormContainer {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.card {
    padding: 3%;
    width: 25%;
}

.card-content {
    min-width: auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.red {
    color:red;
}

.form-control {
    width: 100%;
}