#dp {
    width: 120px;
    height: 125px;
    border: 1px solid whitesmoke;
}

#info-container{
    margin: 10px;
}

#edit-name {
    width: 35px;
    height: 30px;
    margin-left: 10px;
}

#info-container{
    margin: 10px;
}

.edit-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .4rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.selected-image-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    box-shadow: black;
    inline-size: fit-content;
}

.image-on-grid{
    cursor: pointer;
}